<nav class="navbar navbar-expand-lg navbar-dark bg-dark posicion">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#" id="home">
        <img src="../../assets/{{datos.icono}}" onError="this.src='assets/no-image.jpg'"
        *ngIf="datos.icono != null">
        <img src="../../assets/tijeras.png" onError="this.src='assets/no-image.jpg'"
        *ngIf="datos.icono == null">
    </a>

    <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <ng-container *ngIf="user$ | async as user; else login">
                <!--Opciones para administradores-->
                <ng-container *ngIf="(user$ | async)?.rol == 'admin'">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['register']" id="registroEmpleadosNavbar">{{strings.register_employees}}</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['edit-services']" id="RegistroServiciosNavbar">{{strings.register_services}}</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['news']" id="noticiasNavbar">{{strings.news}}</a>
                    </li>  
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['sucursal']" id="sucursalesNavbar">{{strings.new_sucursal}}</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['employees']"  id="editarEmpleadosNavbar">{{strings.edit_employee}}</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['employee-sucursal']"  id="sucursalEmpleadoNavbar">{{strings.employee_sucursal}}</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['schedules']"  id="horariosNavbar">{{strings.schedules}}</a>
                    </li>
                    
                    <!-- <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['calendar-employee']">{{strings.calendar_employee}}</a>
                    </li> -->
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown" role="button" data-bs-toggle="dropdown" 
                        aria-expanded="false">
                            {{strings.employee}}
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" [routerLink]="['register']">{{strings.register_employees}}</a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" [routerLink]="['employees']">{{strings.edit_employee}}</a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" [routerLink]="['schedules']">{{strings.schedules}}</a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown" role="button" data-bs-toggle="dropdown" 
                        aria-expanded="false">
                            {{strings.services}}
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" [routerLink]="['edit-services']">{{strings.register_services}}</a>
                            </li>
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" [routerLink]="['employee-sucursal']">{{strings.employee_sucursal}}</a>
                            </li>
                        </ul>
                    </li> -->
                    
                </ng-container>
                <!--Opciones para emlpleados-->
                <ng-container *ngIf="(user$ | async)?.rol == 'employee'">
                    
                </ng-container>
                
            </ng-container>
        </ul>
        <ng-container *ngIf="(user$ | async)?.length <= 0; else options">
            <div class="form-inline my-2 my-lg-0">
                <input id="textobusquedaservicios" class="form-control mr-sm-2" type="text" placeholder="Buscar..." aria-label="Buscar" #buscartexto (keyup.enter)=buscar(buscartexto.value)>
                <button id="botonbusquedaservicios" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="buscar(buscartexto.value)">{{strings.look}}</button>
            </div>
        </ng-container>

    </div>
</nav>

<ng-template #login>
    <!--Opciones para clientes-->
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']" id="homeNavbar">{{strings.home}}</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['services-page']" id="serviciosNavbar">{{strings.services}}</a>
    </li>
</ng-template>

<ng-template #options>
    <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['options']" id="options">
                    <i class="fas fa-cog"></i>
                </a>
            </li>
        </ul>
    </div>
</ng-template>