<div class="container">
  <div class="row filtrar">
    <div class="col-lg-4 d-flex align-items-stretch">
      <h3 class="text-center">{{strings.calendar_employee}}</h3>
    </div>
  </div>
  <br>
  <div class="froms">
    <div class="row" id="botones">
      <div class="col-md-6">
        <h5>{{strings.look_by_name}}</h5>
        <div class="row">
          <div class="col-md-6">
            <input id="buscador" type="text" [(ngModel)]="busqueda" placeholder="Inserte el nombre">
            <button class="sear" id="search_employees" (click)="searchActive()" *ngIf="show === true">
              <i class="fas fa-search"></i>
            </button>
            <button class="sear" id="search" (click)="searchDesactive()" *ngIf="show === false">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="show === true;" class="col-md-6">
        <select id="mostrarHorario">
          <option value="">{{strings.select_calendar}}</option>
          <option value="item.id_empleado" *ngFor="let item of news; let i of index">{{item.nombre}}</option>
        </select>
      </div>
    </div>
    <br>

    <div>
      <div *ngIf="show === true;" class="container filtrar">
        <app-calendar></app-calendar>
      </div>
    </div>
  </div>
</div>