<div class="container">
    <div class="row">
        <div class="topbar">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul>
                    <!--the login butons goes here-->
                    <li class="nav-item" style="cursor: pointer">
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="toolbar" role="banner">
        <div class="spacer"></div>
        <p class="h3 title">
            <i class="fas fa-1x fa-calendar-alt primary-icon" style="margin-right: 1rem;"></i>
            {{strings.logo}}
        </p>
        <div class="spacer"></div>

    </div>
</div>
