<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)"
                [excludeDays]="excludeDays"
            >
                {{strings.previous}}
            </div>
            <div
                class="btn btn-outline-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)"
            >
                {{strings.today}}
            </div>
            <div
                class="btn btn-primary"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)"
                [excludeDays]="excludeDays"
            >
                {{strings.next}}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div
                class="btn btn-primary"
                (click)="viewChange.emit(CalendarView.Month)"
                [class.active]="view === CalendarView.Month"
            >
                {{strings.month}}
                
            </div>
            <div
                class="btn btn-primary"
                (click)="viewChange.emit(CalendarView.Week)"
                [class.active]="view === CalendarView.Week"
            >
                {{strings.week}}
            </div>
            <div
                class="btn btn-primary"
                (click)="viewChange.emit(CalendarView.Day)"
                [class.active]="view === CalendarView.Day"
            >
                {{strings.day}}
            </div>
        </div>
    </div>
</div>
<br/>
