<div class="container">
    <div class="row mb-4">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 mt-5">
            <button id="search_all" class="btn btn-outline-info btn-block" (click)="getAll()">
                {{strings.show_all}}
            </button>        
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 mt-5">
            <button id="sin_asignar" class="btn btn-outline-info btn-block" (click)="employeeUnsigned()">
                {{strings.employee_unsigned}}
            </button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mt-4">
            <h5>{{strings.look_by_name}}</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <input type="text" [(ngModel)]="busqueda" id="busqueda">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <button id="search_employee" (click)="employeeSearch()" id="buscar_empleado" 
                    class="btn btn-outline-warning btn-block">
                        {{strings.look}}
                    </button>                
                </div>
            </div>
            <ngb-alert id="uno" type="warning" (close)="cerrar('uno')">{{strings.alert12}}</ngb-alert>
        </div>
    </div>
    <div class="tablas">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">{{strings.id}}</th>
                    <th class="text-center">{{strings.name}}</th>
                    <th class="text-center">{{strings.surname}}</th>
                    <th class="text-center">{{strings.sucursal}}</th>
                    <th class="text-center">{{strings.employee_sucursal}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let e of employees">
                    <td>{{e.id_empleado}}</td>
                    <td>{{e.nombre}}</td>
                    <td>{{e.apellido_paterno}} {{e.apellido_materno}}</td>
                    <td>{{e.id_sucursal}}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-success m-1" type="button"
                        data-bs-toggle="modal" data-bs-target="#modalService"
                        (click)="actualizar(e.id_empleado, e.nombre, e.apellido_paterno,
                        e.apellido_materno, e.telefono)" id="agregar">
                            {{strings.employee_sucursal}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="tablas">
        <h3>{{strings.employee_signed}}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">{{strings.no_employee}}</th>
                    <th class="text-center">{{strings.employee}}</th>
                    <th class="text-center">{{strings.no_service}}</th>
                    <th class="text-center">{{strings.services}}</th>
                    <th class="text-center">{{strings.edit}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let services of serviceSigned">
                    <td>{{services.id_empleado}}</td>
                    <td>{{services.nombre_empleado}} {{services.apellido_paterno}}</td>
                    <td>{{services.id_servicio}}</td>
                    <td>{{services.nombre_servicio}}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-warning m-1" type="button"
                        data-bs-toggle="modal" data-bs-target="#modalEdit" id="editar"
                        (click)="formEm.id_empleado = services.id_empleado;
                        formEm.nombre = services.nombre_empleado;
                        formEm.id_servicio = services.id_servicio;
                        employee.id_empleado_servicio = services.id_empleado_servicio">
                            <i class="far fa-edit"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Tabla asignar servicios -->
    <div class="modal fade" id="modalService" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{strings.employee_sucursal}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="signForm" (ngSubmit)="signServices(signForm.value)">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>{{strings.name}}</label>
                                    <input type="text" [(ngModel)]="formEm.nombre"
                                    class="form-control" formControlName="nombre">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>{{strings.no_employee}}</label>
                                    <input type="text" [(ngModel)]="formEm.id_empleado"
                                    formControlName="id_empleado" class="form-control"
                                    disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>{{strings.surname}}</label>
                                    <input type="text" [(ngModel)]="formEm.apellidos"
                                    formControlName="apellidos" class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>{{strings.phone}}</label>
                                    <input type="tel" [(ngModel)]="formEm.phone"
                                    formControlName="phone" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>{{strings.services}}</label>
                                    <select class="form-control" formControlName="id_servicio" id="no_servicio">
                                        <option *ngFor="let s of services" value="{{s.id_servicio}}">
                                            {{s.nombre}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="validation-error">
                            <ng-container *ngFor="let validation of validation_messages.id_servicio">
                              <div *ngIf="signForm.get('id_servicio').hasError(validation.type) &&
                              (signForm.get('id_servicio').dirty || signForm.get('id_servicio').touched)">
                              {{validation.message}}
                              </div>
                            </ng-container>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-bs-dismiss="modal" id="cancelar_form">
                                {{strings.cancel}}
                            </button>
                            <button type="submit" class="btn btn-primary" [disabled]="!signForm.valid"
                            id="signService" data-bs-dismiss="modal">
                                {{strings.send}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabla edita/eliminar Servicios-empleados -->
    <div class="modal fade" id="modalEdit" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{strings.edit}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="signForm" (ngSubmit)="edit(signForm.value)">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>{{strings.no_employee}}</label>
                                    <input type="text" [(ngModel)]="formEm.id_empleado"
                                    formControlName="id_empleado" class="form-control"
                                    disabled>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>{{strings.name}}</label>
                                    <input type="text" [(ngModel)]="formEm.nombre"
                                    formControlName="nombre" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>{{strings.newS}}</label>
                                    <select class="form-control" formControlName="id_servicio" id="idServicio">
                                        <option *ngFor="let s of services" value="{{s.id_servicio}}">
                                            {{s.nombre}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="validation-error">
                            <ng-container *ngFor="let validation of validation_messages.id_servicio">
                              <div *ngIf="signForm.get('id_servicio').hasError(validation.type) &&
                              (signForm.get('id_servicio').dirty || signForm.get('id_servicio').touched)">
                              {{validation.message}}
                              </div>
                            </ng-container>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" (click)="delete()" id="borrar"
                            data-bs-dismiss="modal">
                                {{strings.delete}}
                            </button>
                            <button type="submit" [disabled]="!signForm.valid" class="btn btn-success" id="editar"
                            data-bs-dismiss="modal">
                                {{strings.edit}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>