.container {
    margin: 8rem 3rem 1rem;
}
.tablas {
    margin: 1.5rem 4rem 1.5rem;
}
.validation-error {
    color: red;
    margin: 2px;
}
#busqueda {
    width: 260px;
}
#busqueda2 {
    width: 260px;
}