<div class="container">
    <h2>service-employee works!</h2>
    <div class="row mb-4">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 mt-5">
            <button id="search_all" class="btn btn-outline-info btn-block" (click)="getAll()">
                {{strings.show_all}}
            </button>        
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 mt-5">
            <button id="sin_asignar" class="btn btn-outline-info btn-block" (click)="employeeUnsigned()">
                {{strings.employee_unsigned}}
            </button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mt-4">
            <h5>{{strings.look_by_name}}</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <input type="text" [(ngModel)]="busqueda">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <button id="search_employee" (click)="employeeSearch()" class="btn btn-outline-warning btn-block">
                        {{strings.look}}
                    </button>                
                </div>
            </div>
            <ngb-alert id="uno" type="warning" (close)="cerrar('uno')">{{strings.alert12}}</ngb-alert>
        </div>
    </div>
    <div class="tablas">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">{{strings.id}}</th>
                    <th class="text-center">{{strings.name}}</th>
                    <th class="text-center">{{strings.surname}}</th>
                    <th class="text-center">{{strings.sucursal}}</th>
                    <th class="text-center">{{strings.employee_sucursal}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let e of employees">
                    <td>{{e.id_empleado}}</td>
                    <td>{{e.nombre}}</td>
                    <td>{{e.apellido_paterno}} {{e.apellido_materno}}</td>
                    <td>{{e.id_sucursal}}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-warning m-1" type="button"
                        data-bs-toggle="modal" data-bs-target="#modalService"
                        (click)="getEmployee(e.id_empleado)">
                            {{strings.employee_sucursal}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="tablas">
        <h3>{{strings.employee_signed}}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">{{strings.no_employee}}</th>
                    <th class="text-center">{{strings.employee}}</th>
                    <th class="text-center">{{strings.no_service}}</th>
                    <th class="text-center">{{strings.services}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let services of serviceSigned">
                    <td>{{services.id_empleado}}</td>
                    <td>{{services.nombre_empleado}} {{services.apellido_paterno}}</td>
                    <td>{{services.id_servicio}}</td>
                    <td>{{services.nombre_servicio}}</td>
                    <!-- <td class="text-center">
                        <button class="btn btn-outline-warning m-1" type="button"
                        (click)="signServices(e.id_empleado)">
                            {{strings.employee_sucursal}}
                        </button>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Tabla asignar servicios -->
    <div class="modal fade" id="modalService" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{strings.employee_sucursal}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <label>Nombre</label>
                            <input type="text" [(ngModel)]="employee.nombre">
                        </div>
                        <div class="col">
                            <label>No. de empleado</label>
                            <input type="text" [(ngModel)]="employee.id_empleado">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Apellido Paterno</label>
                            <input type="text" [(ngModel)]="employee.apellido_paterno">
                        </div>
                        <div class="col">
                            <label>Apellido Materno</label>
                            <input type="text" [(ngModel)]="employee.apellido_materno">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{strings.cancel}}</button>
                    <button type="button" class="btn btn-primary">{{strings.send}}</button>
                </div>
            </div>
        </div>
    </div>
</div>