<div class="container">
    <!-- tabla de noticias -->
    <div class="table-news">
        <ngb-alert id="tres" type="danger" (close)="cerrar('tres')">{{strings.alert20}}</ngb-alert>
        <ngb-alert id="dos" type="warning" (close)="cerrar('dos')">{{strings.alert25}}</ngb-alert>
        <div class="row mb-4">
            <h4>{{strings.control_news}}</h4>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-3 mt-5">
                <button id="all" class="btn btn-outline-info btn-block" (click)="getNews()">
                    {{strings.show_all}}
                </button>        
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mt-4">
                <h5>{{strings.look_by_name}}</h5>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="searchs">
                        <input id="busqueda" type="text" [(ngModel)]="busqueda"
                        placeholder="Inserte un nombre">
                        <button id="search_employees" (click)="search()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="searchs">
                        <button id="add_notice" class="btn btn-outline-info btn-block"
                        data-bs-toggle="modal" data-bs-target="#modalRegister">
                            {{strings.new_news}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th class="text-center">{{strings.id}}</th>
                    <th class="text-center">{{strings.title}}</th>
                    <th class="text-center">{{strings.description}}</th>
                    <th class="text-center">{{strings.image}}</th>
                    <th class="text-center">{{strings.options}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let item of news; let i of index">
                    <td>{{item.id_noticia}}</td>
                    <td>{{item.titulo}}</td>
                    <td>{{item.descripcion}}</td>
                    <td><img style="width: 8rem;" src="../../assets/{{item.imagen}}" onError="this.src='../../assets/no-image.jpg'"></td>
                    <td class="text-center">
                        <button id="editar" class="btn btn-outline-success m-1" type="button"
                        (click)="getNew(item.id_noticia)" data-bs-toggle="modal" data-bs-target="#modalEdit">
                            <i class="fas fa-user-edit"></i>
                        </button>
                        <button id="eliminar" class="btn btn-outline-danger m-1" type="button"
                        (click)="deleteNews(item.id_noticia)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal register -->
    <div class="modal fade" id="modalRegister" tabindex="-1" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{strings.new_notice}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="cancel()"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="newsForm" (ngSubmit)="newRegister(newsForm.value)" 
                    class="col bg-light shadow-sm p-3 mb-5 rounded border">
                    <ngb-alert id="uno" type="success" (close)="cerrar('uno')">{{strings.alert19}}</ngb-alert>
                    <ngb-alert id="cuatro" type="danger" (close)="cerrar('cuatro')">{{strings.alert}}</ngb-alert>
                        <div class="row">
                            <div class="col">
                                <label>{{strings.title}}<p>*</p></label>
                                <input type="text" id="titulo" class="form-control" [(ngModel)]="new.titulo"
                                formControlName="titulo" placeholder="Titulo de la noticia"
                                maxlength="40">
                                <div class="validation-error">
                                    <ng-container *ngFor="let validation of validation_messages.titulo">
                                        <div *ngIf="newsForm.get('titulo').hasError(validation.type) &&
                                        (newsForm.get('titulo').dirty || newsForm.get('titulo').touched)">
                                            {{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>{{strings.description}}<p>*</p></label>
                                <textarea type="text" id="descripcion" class="form-control" 
                                formControlName="descripcion" [(ngModel)]="new.descripcion" 
                                placeholder="Descripcion de la noticia">
                                </textarea>
                                <div class="validation-error">
                                    <ng-container *ngFor="let validation of validation_messages.descripcion">
                                        <div *ngIf="newsForm.get('descripcion').hasError(validation.type) &&
                                        (newsForm.get('descripcion').dirty || newsForm.get('descripcion').touched)">
                                            {{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>{{strings.image}}<p>*</p></label>
                                <input type="file" id="imagen" class="form-control" [(ngModel)]="new.imagen"
                                formControlName="imagen" (change)="upload($event)">
                                <div class="validation-error">
                                    <ng-container *ngFor="let validation of validation_messages.imagen">
                                        <div *ngIf="newsForm.get('imagen').hasError(validation.type) &&
                                        (newsForm.get('imagen').dirty || newsForm.get('imagen').touched)">
                                            {{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="preview" class="imagencita">
                            <img [src]="preview" id="visualizacion" width="260px" alt="">
                        </div>
                        <br>
                        <div class="boton">
                            <button class="btn btn-outline-info" data-bs-dismiss="modal" id="cancelar_form"
                            (click)="cancel()">
                                {{strings.cancel}}
                            </button>
                            <button type="submit" id="registrar" class="btn btn-outline-success">
                                {{strings.send}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal edit/delete -->
    <div class="modal fade" id="modalEdit" tabindex="-1" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{strings.new_notice}}</h5>
                    <button (click)="cancel()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="newsForm" (ngSubmit)="newRegister(newsForm.value)" 
                    class="col bg-light shadow-sm p-3 mb-5 rounded border">
                    <ngb-alert id="cuatros" type="danger" (close)="cerrar('cuatros')">{{strings.alert}}</ngb-alert>
                    <ngb-alert id="unos" type="success" (close)="cerrar('unos')">{{strings.alert19}}</ngb-alert>
                        <div class="row">
                            <div class="col">
                                <label>{{strings.no_notice}}<p>*</p></label>
                                <input type="text" class="form-control" [(ngModel)]="new.id_noticia"
                                formControlName="id_noticia" disabled id="id_noticia2">
                            </div>
                            <div class="col">
                                <label>{{strings.title}}<p>*</p></label>
                                <input type="text" id="titulo2" class="form-control" [(ngModel)]="new.titulo"
                                formControlName="titulo" placeholder="Titulo de la noticia"
                                maxlength="40">
                                <div class="validation-error">
                                    <ng-container *ngFor="let validation of validation_messages.titulo">
                                        <div *ngIf="newsForm.get('titulo').hasError(validation.type) &&
                                        (newsForm.get('titulo').dirty || newsForm.get('titulo').touched)">
                                            {{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>{{strings.description}}<p>*</p></label>
                                <textarea type="text" id="descripcion2" class="form-control" 
                                formControlName="descripcion" [(ngModel)]="new.descripcion" 
                                placeholder="Descripcion de la noticia">
                                </textarea>
                                <div class="validation-error">
                                    <ng-container *ngFor="let validation of validation_messages.descripcion">
                                        <div *ngIf="newsForm.get('descripcion').hasError(validation.type) &&
                                        (newsForm.get('descripcion').dirty || newsForm.get('descripcion').touched)">
                                            {{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>{{strings.image}}<p>*</p></label>
                                <input type="file" id="imagen2" class="form-control" [(ngModel)]="new.imagen"
                                formControlName="imagen" (change)="upload($event)">
                                <div class="validation-error">
                                    <ng-container *ngFor="let validation of validation_messages.imagen">
                                        <div *ngIf="newsForm.get('imagen').hasError(validation.type) &&
                                        (newsForm.get('imagen').dirty || newsForm.get('imagen').touched)">
                                            {{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="preview" class="imagencita">
                            <img [src]="preview" id="visualizacion" width="260px" alt="">
                        </div>
                        <br>
                        <div class="boton">
                            <button class="btn btn-outline-info" data-bs-dismiss="modal" (click)="cancel()"
                            id="cancel">
                                {{strings.cancel}}
                            </button>
                            <button type="submit" id="edit" class="btn btn-outline-success">
                                {{strings.send}}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>