.container {
    margin: 9rem auto 1rem;
    width: 80%;
}
.table-news {
    margin: 2rem;
}
.tabla {
    height: 400px;
    overflow: scroll;
}
table {
    border: #e4e4e4 solid;
    border-radius: 20px;
    width: 100%;
}
tr {
    background-color: steelblue;
}
th{
    height: 50px;
}
td {
    background-color: #f6f6f6;
    padding: 2%;
}
.imagencita img{
    margin: 2px;
    border: #e4e4e4 2px;
}
.boton button{
    margin: 5px;
}
.validation-error{
    padding: 4px;
    color: rgb(207, 23, 23);
}
p {
    color: red;
    display: inline-block;
}