<div class="container" *ngIf="this.service; else loading">
    <div class="row filtrar">
        <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="card" style="width: 22rem;">
                            <img class="card-img-top" [src]="'assets/'+this.service.imagen" alt="Card image cap"
                                onError="this.src='assets/comida.svg'">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <p class="top">{{this.service.nombre}}</p>
                        <!-- <div class="col text-center">
                            <small>{{item.nombre}}</small>
                        </div> -->
                        <hr>
                        <div class="row">
                            <div class="container p-3 my-3 border" id="costoServices">
                                <p class="h5 text-left"> <strong> {{strings.cost}}: </strong> <br>
                                    {{this.service.costo}} </p>
                            </div>

                            <hr>
                            <div class="container p-3 my-3 border" id="descripcionServices">
                                <p class="h5 text-left"> <strong> {{strings.description}}: </strong> <br>
                                    {{this.service.descripcion}}</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row-reverse mt-4">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <a class="btn btn-outline-primary btn-block" id="agendarServices"
                                    [routerLink]="['/service-client',service.idservicio]">{{strings.schedule}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <div class="row text-center mt-5 pt-5 ">
        <div class="col ">
            <i class="fas fa-sync-alt fa-5x fa-spin "></i>
        </div>
    </div>