.container {
    margin: 8rem auto 1rem;
}
.validation-error {
    color: red;
    margin: 2px;
}
.alerta {
    padding: 2px;
}
.tablas {
    margin: 2rem 0 3rem;
}
#searchs {
    border-radius: 10px;
}
#busqueda {
    width: 300px;
}
.modal-body label{
    padding: 10px 0px;
}
p {
    color: red;
    display: inline-block;
}