.form {
    margin: 8rem 10rem;
}
.botton button {
    margin: 0 1rem;
    border: none;
    float: right;
    font-size: 28px;
}
.show {
    color: lightgray;
}
.notShow {
    color: none;
}
#id_sucursal {
    width: 48%;
}
#rol {
    width: 48%;
}
.validation-error {
    color: red;
    margin: 2px;
}
#uno {
    color: black;
}
#dos {
    color: black;
}
#tres {
    color: black;
}
#cuatro {
    color: black;
}
#kinto {
    color: black;
    position: sticky;
    top: 10;
}
input {
    width: 100%;
    height: 30px;
}
p {
    color: red;
    display: inline-block;
}