.container {
    margin: 7.5rem auto 1rem;
    min-height: 630px;
    max-height: max-content;
    padding: 0;
    width: 100%;
}
.forms {
    width: 42%;
    height: 600px;
    float: left;
    padding-top: 20px;
}
.forms label {
    margin: 10px;
}
.forms button {
    margin-top: 15px;
}
.table {
    width: 56.5%;
    height: 100%;
    float: right;
}
#buscador {
    display: inline-block; 
    width: max-content;
}
.sear {
    width: max-content;
}
.tablas {
    height: 530px;
    overflow: scroll;
    padding: 0;
}
.tablas table {
    border: #e4e4e4 solid;
    border-radius: 20px;
    width: 100%;
    margin: 1rem auto;
}
th{
    height: 50px;
    padding: 10px;
    background-color: steelblue;
}
td {
    background-color: #f6f6f6;
    padding: 1.6%;
    border: none;
}
.validation-error {
    color: red;
    margin: 2px;
}
p {
    color: red;
    display: inline-block;
    margin: 0;
}