<div class="container">
    <div class="row filtrar">
        <div class="col-lg-4 d-flex align-items-stretch">
            <p class="titulo-joyas">{{strings.services}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card-columns" *ngIf="services.length > 0; else loading">
                <div class="card text-center" style="width: 18rem;" *ngFor="let servicesList of services">
                    <a [routerLink]="['/service-client',servicesList.id_servicio]">
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap"
                            [src]="'assets/'+servicesList.imagen" onError="this.src='assets/no-image.jpg'">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{servicesList.nombre}}</strong></h5>
                        <a class="btn btn-outline-primary"
                            [routerLink]="['/service-client',servicesList.id_servicio]"> Mostrar</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<ng-template #loading>
    <div class="row text-center mt-5 pt-5">
        <div class="col">
            <i class="fas fa-sync-alt fa-5x fa-spin"></i>
        </div>
    </div>
</ng-template>

