<div class="form">
  <form [formGroup]="newsForm" (ngSubmit)="sucursalRegister(newsForm.value)"
    class="col bg-light shadow-sm p-3 mb-5 rounded border">
    <h4 class="text-center">{{strings.register_sucursales}}</h4><br>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="col-2 col-form-label">{{strings.name}}</label>
          <input type="text" class="form-control" formControlName="nombre" [(ngModel)]="new.nombre" id="nombreSucrsal" required>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validation_messages.nombre">
              <div *ngIf="newsForm.get('nombre').hasError(validation.type) &&
                  (newsForm.get('nombre').dirty || newsForm.get('nombre').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <div class="form-group">
            <label class="col-2 col-form-label">{{strings.phone}}</label>
            <input type="tel" class="form-control" formControlName="telefono" [(ngModel)]="new.telefono"
              id="telefonoSucursal" maxlength="10" minlength="9" (keypress)="onlyNumberKey($event)" required>
              <ngb-alert id="tres" type="danger" (close)="cerrar('tres')">{{strings.alert10}}</ngb-alert>
            <div class="validation-error">
              <ng-container *ngFor="let validation of validation_messages.telefono">
                <div *ngIf="newsForm.get('telefono').hasError(validation.type) &&
              (newsForm.get('telefono').dirty || newsForm.get('telefono').touched)">
                  {{validation.message}}
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="col-2 col-form-label">{{strings.cp}}</label>
          <input type="text" class="form-control" formControlName="cp" [(ngModel)]="new.cp" id="cpSucursal" (keypress)="onlyNumberKey($event)"
          required maxlength="5" minlength="4">
          <ngb-alert id="uno" type="danger" (close)="cerrar('uno')">{{strings.alert11}}</ngb-alert>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validation_messages.cp">
              <div *ngIf="newsForm.get('cp').hasError(validation.type) &&
                (newsForm.get('cp').dirty || newsForm.get('cp').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="col-2 col-form-label">{{strings.suburb}}</label>
          <input type="text" class="form-control" formControlName="colonia" [(ngModel)]="new.colonia"
            id="coloniaSucursal" required>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validation_messages.colonia">
              <div *ngIf="newsForm.get('colonia').hasError(validation.type) &&
              (newsForm.get('colonia').dirty || newsForm.get('colonia').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="col-2 col-form-label">{{strings.street}}</label>
          <input type="text" class="form-control" formControlName="calle" [(ngModel)]="new.calle" id="calleSucursal" required>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validation_messages.calle">
              <div *ngIf="newsForm.get('calle').hasError(validation.type) &&
              (newsForm.get('calle').dirty || newsForm.get('calle').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="col-2 col-form-label">{{strings.outdoor_number}}</label>
          <input type="text" class="form-control" formControlName="numero_exterior" [(ngModel)]="new.numero_exterior"
            id="numExtSucursal" required>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validation_messages.numero_exterior">
              <div *ngIf="newsForm.get('numero_exterior').hasError(validation.type) &&
              (newsForm.get('numero_exterior').dirty || newsForm.get('numero_exterior').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="col-2 col-form-label">{{strings.interior_number}}</label>
          <input type="text" class="form-control" formControlName="numero_interior" [(ngModel)]="new.numero_interior"
            id="numIntSucursal">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="col-2 col-form-label">{{strings.latitude}}</label>
          <input type="text" class="form-control" formControlName="latitud" [(ngModel)]="new.latitud"
            id="latitudSucursal" required>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validation_messages.latitud">
              <div *ngIf="newsForm.get('latitud').hasError(validation.type) &&
              (newsForm.get('latitud').dirty || newsForm.get('latitud').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="col-2 col-form-label">{{strings.length}}</label>
          <input type="text" class="form-control" formControlName="longitud" [(ngModel)]="new.longitud"
            id="longitudSucursal" required>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validation_messages.longitud">
              <div *ngIf="newsForm.get('longitud').hasError(validation.type) &&
              (newsForm.get('longitud').dirty || newsForm.get('longitud').touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="boton">
      <ngb-alert id="cuatro" type="success" (close)="cerrar('cuatro')">{{strings.alert6}}</ngb-alert>
      <ngb-alert id="dos" type="danger" (close)="cerrar('dos')">{{strings.alert21}}</ngb-alert>
      <button type="submit" class="btn btn-secondary" id="registroSucursal">{{strings.register_sucursales}}</button>
    </div>
  </form>
  <br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">{{strings.id}}</th>
        <th class="text-center">{{strings.name}}</th>
        <th class="text-center">{{strings.phone}}</th>
        <th class="text-center">{{strings.cp}}</th>
        <th class="text-center">{{strings.suburb}}</th>
        <th class="text-center">{{strings.street}}</th>
        <th class="text-center">{{strings.outdoor_number}}</th>
        <th class="text-center">{{strings.interior_number}}</th>
        <th class="text-center">{{strings.latitude}}</th>
        <th class="text-center">{{strings.length}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let item of news; let i of index">
        <td>{{item.id_sucursal}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.telefono}}</td>
        <td>{{item.cp}}</td>
        <td>{{item.colonia}}</td>
        <td>{{item.calle}}</td>
        <td>{{item.numero_exterior}}</td>
        <td>{{item.numero_interior}}</td>
        <td>{{item.latitud}}</td>
        <td>{{item.longitud}}</td>
        <td class="text-center">
          <button class="btn btn-outline-success m-1" type="button" (click)="getSucursal(item.id_sucursal)"
            id="editarSucursal">
            <i class="fas fa-user-edit"></i>
          </button>
          <!-- <button class="btn btn-outline-danger m-1" type="button"
                    (click)="deleteSucursal(item.id_sucursal)">
                        <i class="fas fa-trash"></i>
                    </button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>